#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .content-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .content-video-blocker {
  width: 640px;
  background: white;
  height: 360px;
}

#content .content-video-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .content-video-controls-fullscreen input[type="checkbox"] {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
}

#content .content-video-controls-fullscreen input[type="checkbox"]:checked ~ .icon-box {
  background: #000000;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5), inset 0 0 10px #219cf3;
          box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5), inset 0 0 10px #219cf3;
}

#content .content-video-controls-fullscreen input[type="checkbox"]:checked ~ .icon-box .fa {
  color: #ffffff;
  text-shadow: 0 0 10px #219cf3, 0 0 10px #219cf3;
}

#content .content-video-controls-fullscreen .icon-box {
  width: 30px;
  height: 30px;
  background: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #000000;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content .content-video-controls-fullscreen .icon-box .fa {
  font-size: 18px;
  color: #222222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content .content-video-controls-timeline {
  margin-top: 15px;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 30px white;
          box-shadow: 0px 0px 30px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .content-video-controls-params {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .content-video-controls-params-text {
  position: absolute;
  text-transform: uppercase;
  width: 150px;
  justify-self: center;
  bottom: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  font-size: 18px;
}

#content .content-video-controls-params-box {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 180px;
}

#content .content-video-controls-params-box-percent {
  color: #777777;
  font-weight: 700;
  font-size: 1.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

#content .content-video-controls-params-box-number, #content .content-video-controls-params-box-percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .content-video-controls-params-box-percent:hover {
  color: #ffffff;
}

#content .content-video-controls-params svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

#content .content-video-controls-params svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

#content .content-video-controls-params svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

#content .content-video-controls-params-box:nth-child(1) svg circle:nth-child(2) {
  stroke: #f65130;
}

#content .content-video-controls-params-box:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: 0;
  stroke: #030c5d;
}

#content .content-video-controls-params-box:nth-child(3) svg circle:nth-child(2) {
  stroke: #c8ff0f;
}

#content .content-video-controls-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .content-video-controls-options input[type="range"] {
  grid-area: input;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2px;
  -webkit-appearance: none;
  outline: none;
  background-color: #ffffff;
  width: 80%;
}

#content .content-video-controls-options input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2196f3;
}

#content .content-video-controls-options input[type="checkbox"] {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

#content .content-video-controls-options input[type="checkbox"]:checked ~ .icon-box {
  background: #000000;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5), inset 0 0 10px #219cf3;
          box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5), inset 0 0 10px #219cf3;
}

#content .content-video-controls-options input[type="checkbox"]:checked ~ .icon-box .fa {
  color: #ffffff;
  text-shadow: 0 0 10px #219cf3, 0 0 10px #219cf3;
}

#content .content-video-controls-options .icon-box {
  width: 40px;
  height: 40px;
  background: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #000000;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content .content-video-controls-options .icon-box .fa {
  font-size: 24px;
  color: #222222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content .content-video-controls input[type="range"] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2px;
  -webkit-appearance: none;
  outline: none;
  background-color: #ffffff;
  width: 80%;
}

#content .content-video-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2196f3;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mt-20 {
  margin-top: 30px;
}

.play-button {
  display: block;
  position: relative;
  width: 0;
  left: 10px;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #d42f2f;
  z-index: 200000;
}

.play-button:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.pause-button {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border-bottom: 60px solid #d42f2f;
  border-left: 60px solid #d42f2f;
  z-index: 200000;
}

.pause-button:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.copy-form {
  position: relative;
  z-index: 1;
  padding: 0 30px 0 30px;
  width: 400px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy-form a {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 24px;
  text-transform: uppercase;
  color: #02ff96;
  letter-spacing: 2px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.copy-form a:hover {
  color: #255784;
  background: #02ff96;
  -webkit-box-shadow: 0 0 10px #02ff96, 0 0 40px #02ff96, 0 0 80px #02ff96;
          box-shadow: 0 0 10px #02ff96, 0 0 40px #02ff96, 0 0 80px #02ff96;
}

.copy-field {
  position: relative;
  height: 40px;
  width: 100%;
}

.copy-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: #ffffff;
  width: 100%;
  height: 2px;
}

.copy-field span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #02ff96;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.copy-field input[type="text"]:focus ~ span::before,
.copy-field input[type="text"]:valid ~ span::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.copy-field input[type="text"] {
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
}

.copy-field input[type="text"]:focus {
  outline: none;
}

.copy-field input[type="text"]:focus + label,
.copy-field input[type="text"]:valid + label {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: #02ff96;
  font-weight: 300;
}

.copy-field label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  pointer-events: none;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=Content.css.map */