#content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  .content-chat {
    display: flex;
    flex-direction: column;
  }
  .content-video {
    &-blocker {
      width: 640px;
      background: white;
      height: 360px;
    }
    &-controls {
      display: flex;
      flex-direction: column;
      &-fullscreen {
        input[type="checkbox"] {
          position: absolute;
          width: 30px;
          height: 30px;
          cursor: pointer;
          opacity: 0;
        }
        input[type="checkbox"]:checked ~ .icon-box {
          background: #000000;
          border: 3px solid #ffffff;
          box-shadow: 0 0 10px rgba(33, 156, 243, 0.5),
            0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5),
            inset 0 0 10px rgba(33, 156, 243, 1);
          .fa {
            color: #ffffff;
            text-shadow: 0 0 10px rgba(33, 156, 243, 1),
              0 0 10px rgba(33, 156, 243, 1);
          }
        }
        .icon-box {
          width: 30px;
          height: 30px;
          background: #101010;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid #000000;
          border-radius: 10px;
          transition: 0.5s;
          .fa {
            font-size: 18px;
            color: #222222;
            transition: 0.5s;
          }
        }
      }
      &-timeline {
        margin-top: 15px;
        padding: 10px 10px;
        box-shadow: 0px 0px 30px rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-params {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-text {
          position: absolute;
          text-transform: uppercase;
          width: 150px;
          justify-self: center;
          bottom: -10%;
          display: flex;
          justify-content: center;
          letter-spacing: 2px;
          font-size: 18px;
        }
        &-box {
          position: relative;
          align-items: center;
          width: 150px;
          height: 180px;
          &-percent {
            color: #777777;
            font-weight: 700;
            font-size: 1.9rem;
            transition: 1s;
          }
          &-number,
          &-percent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
          }
        }
        &-box-percent:hover {
          color: #ffffff;
        }
        svg {
          position: relative;
          width: 150px;
          height: 150px;
          z-index: 1000;
        }

        svg circle {
          width: 100%;
          height: 100%;
          fill: none;
          stroke: #191919;
          stroke-width: 10;
          stroke-linecap: round;
          transform: translate(5px, 5px);
        }
        svg circle:nth-child(2) {
          stroke-dasharray: 440;
          stroke-dashoffset: 440;
        }
        &-box:nth-child(1) svg circle:nth-child(2) {
          stroke: #f65130;
        }
        &-box:nth-child(2) svg circle:nth-child(2) {
          stroke-dashoffset: 0;
          stroke: #030c5d;
        }
        &-box:nth-child(3) svg circle:nth-child(2) {
          stroke: #c8ff0f;
        }
      }
      &-options {
        width: 100%;
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
        align-items: center;
        input[type="range"] {
          grid-area: input;
          align-self: center;
          height: 2px;
          -webkit-appearance: none;
          outline: none;
          background-color: #ffffff;
          width: 80%;
        }
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #2196f3;
        }
        input[type="checkbox"] {
          position: absolute;
          width: 40px;
          height: 40px;
          cursor: pointer;
          opacity: 0;
        }
        input[type="checkbox"]:checked ~ .icon-box {
          background: #000000;
          border: 3px solid #ffffff;
          box-shadow: 0 0 10px rgba(33, 156, 243, 0.5),
            0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5),
            inset 0 0 10px rgba(33, 156, 243, 1);
          .fa {
            color: #ffffff;
            text-shadow: 0 0 10px rgba(33, 156, 243, 1),
              0 0 10px rgba(33, 156, 243, 1);
          }
        }

        .icon-box {
          width: 40px;
          height: 40px;
          background: #101010;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid #000000;
          border-radius: 10px;
          transition: 0.5s;
          .fa {
            font-size: 24px;
            color: #222222;
            transition: 0.5s;
          }
        }
      }
      input[type="range"] {
        align-self: center;
        height: 2px;
        -webkit-appearance: none;
        outline: none;
        background-color: #ffffff;
        width: 80%;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2196f3;
      }
    }
  }
}

.space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mt-20 {
  margin-top: 30px;
}

.play-button {
  display: block;
  position: relative;
  width: 0;
  left: 10px;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #d42f2f;
  z-index: 200000;
}
.play-button:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.pause-button {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border-bottom: 60px solid #d42f2f;
  border-left: 60px solid #d42f2f;
  z-index: 200000;
}
.pause-button:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.copy-form {
  position: relative;
  z-index: 1;
  padding: 0 30px 0 30px;
  width: 400px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
    text-transform: uppercase;
    color: #02ff96;
    letter-spacing: 2px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  a:hover {
    color: #255784;
    background: #02ff96;
    box-shadow: 0 0 10px #02ff96, 0 0 40px #02ff96, 0 0 80px #02ff96;
  }
}

.copy-field {
  position: relative;
  height: 40px;
  width: 100%;
  span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #ffffff;
    width: 100%;
    height: 2px;
  }
  span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #02ff96;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }
  input[type="text"]:focus ~ span::before,
  input[type="text"]:valid ~ span::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  input[type="text"] {
    position: absolute;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
  }
  input[type="text"]:focus {
    outline: none;
  }
  input[type="text"]:focus + label,
  input[type="text"]:valid + label {
    transform: translateY(-25px);
    color: #02ff96;
    font-weight: 300;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    pointer-events: none;
    display: block;
    transition: 0.5s;
  }
}
